openapi: 3.0.2

info:
  version: '3.0.0-alpha'
  title: Violet User System Internal APIs
  description: Violet用户授权系统内部API列表，RESTful-Like
  termsOfService: 'https://xmatrix.studio/terms'
  contact:
    name: XMatrix Studio
    url: 'https://oauth.xmatrix.studio/support'
    email: 'a@xmatrix.studio'
  license:
    name: MIT License
    url: 'https://opensource.org/licenses/MIT'

servers:
- url: 'https://oauth.xmatrix.studio/api/v3/i'
  description: XMatrix OAuth APIs
- url: 'https://test.xmatrix.studio/api/violet/v3/i/'
  description: XMatrix OAuth Test APIs

tags:
- name: User
  description: 与用户相关的接口，包括注册、登陆、登出、数据、授权等
- name: Util
  description: 工具类接口，包括获取图形验证码等

components:
  # schemas:
  # responses:
  # parameters:
  # examples:
  # requestBodies:
  # headers:
  # securitySchemas:
  # links:
  # callbacks:

paths:
  '/user':
    get:
      tags: [User]
      summary: 获取用户信息
      description: 获取当前用户信息，需用户登陆
      responses:
        '200':
          description: 获取成功
          content:
            'application/json':
              schema:
                type: object
                properties:
                  email:
                    type: string
                    description: 用户登陆邮箱
                    format: email
                  phone:
                    type: string
                    description: 用户登陆手机
                    format: phone
                    example: '12345678901'
                  name:
                    type: string
                    description: 用户名
                    example: 'XMatrixStudio'
                  class:
                    type: number
                    description: |
                      用户级别<br>
                      -1 - 封禁用户<br>
                      0 - 普通用户<br>
                      1 - 开发者<br>
                      50 - 管理员<br>
                      99 - 超级管理员<br>
                    example: 99
                  createTime:
                    type: string
                    description: 用户注册的时间
                    format: date-time
                  info:
                    type: object
                    properties:
                      avatar:
                        type: string
                        description: 头像URL
                        format: url
                        example: 'http://violet-1252808268.cosgz.myqcloud.com/0.png'
                      bio:
                        type: string
                        description: |
                          个人简历，最多128位<br>
                        example: 'Hello, world!'
                      birthday:
                        type: string
                        description: 生日
                        format: date-time
                      email:
                        type: string
                        description: 联系邮箱
                        format: email
                      gender:
                        type: number
                        description: |
                          性别<br>
                          0 - 未知<br>
                          1 - 男<br>
                          2 - 女<br>
                        enum:
                        - 0
                        - 1
                        - 2
                      location:
                        type: string
                        description: |
                          地址，最多64位<br>
                        example: 'Guangzhou, China'
                      nickname:
                        type: string
                        description: |
                          昵称，最多32位<br>
                        example: '未知矩阵'
                      phone:
                        type: string
                        description: 联系电话
                        format: phone
                        example: '12345678901'
                      url:
                        type: string
                        description: |
                          个人主页，最多128位<br>
                        format: url
                        example: 'https://oauth.xmatrix.studio/'
        '401':
          description: 获取失败，身份验证未通过
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      invalid_token - 未进行身份验证<br>
                      timeout_token - 身份验证已过期<br>
                    example: 'invalid_token'
    post:
      tags: [User]
      summary: 注册账号
      description: |
        需验证注册邮箱或注册手机方可进行注册<br>
        该方法可多次请求，直到注册成功或验证状态过期，则验证状态将被删除<br>
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
              - name
              - password
              properties:
                name:
                  type: string
                  description: |
                    用户唯一名称<br>
                    以字母开头，由字母、数字、下划线、减号组成，最多32位<br>
                  pattern: '^[a-zA-Z][a-zA-Z0-9_-]{0,31}$'
                  example: 'XMatrix'
                password:
                  type: string
                  description: |
                    用户密码的SHA512散列值<br>
                    密码限制为6-24位，不允许纯数字<br>
                  pattern: '^[a-fA-F0-9]{128}&'
                  example: 'BA3253876AED6BC2...'
                nickname:
                  type: string
                  description: |
                    用户昵称<br>
                    可中英文混合，最多32位<br>
                  pattern: '^([a-zA-Z0-9_-]|\p{Script=Hani})+$'
                  example: '未知矩阵'
      responses:
        '201':
          description: 注册成功
        '400':
          description: 注册失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      exist_name - 用户名已存在<br>
                      invalid_name - 非法用户名<br>
                      invalid_nickname - 非法昵称<br>
                      invalid_password - 非法密码散列值<br>
                      not_exist_register_record - 不存在注册记录<br>
                      reserved_name - 用户名保留<br>
                    example: 'exist_name'
    patch:
      tags: [User]
      summary: 修改用户个人信息
      description: |
        可用该方法修改密码以及个人信息<br>
        如果两项共同使用，修改密码失败时将不会修改个人信息<br>
      requestBody:
        content:
          'application/json':
            schema:
              type: object
              properties:
                info:
                  type: object
                  properties:
                    avatar:
                      type: string
                      description: 头像的Base64字符串
                      example: 'WE1hdHJpeA=='
                    bio:
                      type: string
                      description: |
                        个人简历，最多128位<br>
                      example: 'Hello, world!'
                    birthday:
                      type: string
                      description: 生日
                      format: date-time
                    email:
                      type: string
                      description: 联系邮箱
                      format: email
                    gender:
                      type: number
                      description: |
                        性别<br>
                        0 - 未知<br>
                        1 - 男<br>
                        2 - 女<br>
                      enum:
                      - 0
                      - 1
                      - 2
                    location:
                      type: string
                      description: |
                        地址，最多64位<br>
                      example: 'Guangzhou, China'
                    nickname:
                      type: string
                      description: |
                        昵称，最多32位<br>
                      example: '未知矩阵'
                    phone:
                      type: string
                      description: 联系电话
                      format: phone
                      example: '12345678901'
                    url:
                      type: string
                      description: |
                        个人主页，最多128位<br>
                      format: url
                      example: 'https://oauth.xmatrix.studio/'
                secure:
                  type: object
                  required:
                  - old_password
                  - new_password
                  properties:
                    old_password:
                      type: string
                      description: 旧密码的SHA512散列值
                      example: 'BA3253876AED6BC2...'
                    new_password:
                      type: string
                      description: 新密码的SHA512散列值
                      example: '7462482C87F9BAFC...'
      responses:
        '200':
          description: 修改成功
        '400':
          description: 修改失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      error_password - 旧密码错误<br>
                      invalid_avatar - 非法头像Base64字符串<br>
                      invalid_bio - 非法个人简介<br>
                      invalid_birthday - 非法生日<br>
                      invalid_email - 非法联系邮箱<br>
                      invalid_gender - 非法性别<br>
                      invalid_location - 非法地址<br>
                      invalid_new_password - 非法新密码散列值<br>
                      invalid_nickname - 非法昵称<br>
                      invalid_old_password - 非法旧密码散列值<br>
                      invalid_phone - 非法联系电话<br>
                      invalid_url - 非法个人主页<br>
                      same_password - 新旧密码相同<br>
                    example: 'error_password'
        '401':
          description: 修改失败，身份验证未通过
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      invalid_token - 未进行身份验证<br>
                      timeout_token - 身份验证已过期<br>
                    example: 'invalid_token'

  '/user/email':
    post:
      tags: [User]
      summary: 发送邮箱验证邮件
      description: |
        需图形验证放可发送邮箱验证邮件<br>
        该方法不可多次请求，1分钟内仅可发送1次，且每次请求后均删除图形验证状态<br>
        发送邮件是阻塞请求，即只有发送成功或失败该方法才作出响应<br>
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
              - operator
              - captcha
              - email
              properties:
                operator:
                  type: string
                  description: 邮箱验证操作的用途
                  enum:
                  - register
                  - reset
                  - update
                captcha:
                  type: string
                  description: 图形验证码
                  example: '1234'
                email:
                  type: string
                  description: 需要验证的邮箱
                  format: email
      responses:
        '201':
          description: 发送验证邮件成功
        '400':
          description: 发送验证邮件失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      通用错误<br>
                      error_captcha - 图形验证码错误<br>
                      invalid_captcha - 非法图形验证码<br>
                      invalid_email - 非法邮箱<br>
                      invalid_operator - 非法操作<br>
                      limit_time - 发送时间间隔限制<br>
                      not_exist_captcha - 不存在图形验证记录<br>
                      send_fail - 发送失败<br>
                      timeout_captcha - 超时图形验证记录<br><br>
                      操作符`register`错误<br>
                      exist_user - 用户已存在<br><br>
                      操作符`reset`错误<br>
                      not_exist_user - 用户不存在<br><br>
                      操作符`update`错误<br>
                      same_email - 邮箱相同<br>
                    example: 'exist_email'
        '401':
          description: 发送验证邮件失败，身份验证未通过，用于`update`操作符
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      invalid_token - 未进行身份验证<br>
                      timeout_token - 身份验证已过期<br>
                    example: 'invalid_token'
    put:
      tags: [User]
      summary: 认证邮箱
      description: |
        邮箱验证状态时限为5分钟<br>
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
              - operator
              - code
              properties:
                operator:
                  type: string
                  description: 邮箱验证操作的用途
                  enum:
                  - register
                  - reset
                  - update
                code:
                  type: string
                  description: 邮箱验证码
                password:
                  type: string
                  description: 重置密码的SHA512散列值，用于`reset`操作符
              example:
                operator: 'register'
                code: '123456'
      responses:
        '200':
          description: 验证成功
        '400':
          description: 验证失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      error_code - 验证码错误<br>
                      error_operator - 操作错误<br>
                      invalid_code - 非法验证码<br>
                      invalid_operator - 非法操作<br>
                      not_exist_code - 不存在邮箱验证记录<br>
                      timeout_code - 验证码已过期<br>
                    example: 'error_code'
        '401':
          description: 验证失败，身份验证未通过，用于`update`操作符
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      invalid_token - 未进行身份验证<br>
                      timeout_token - 身份验证已过期<br>
                    example: 'invalid_token'

  '/user/phone':
    post:
      tags: [User]
      summary: 发送手机验证短信，验证码固定为123456
      deprecated: true
      description: |
        需图形验证放可发送手机验证短信<br>
        该方法不可多次请求，1分钟内仅可发送1次，且每次请求后均删除图形验证状态<br>
        发送短信是阻塞请求，即只有发送成功或失败该方法才作出响应<br>
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
              - operator
              - captcha
              - phone
              properties:
                operator:
                  type: string
                  description: 手机验证操作的用途
                  enum:
                  - register
                  - reset
                  - update
                captcha:
                  type: string
                  description: 图形验证码
                  example: '1234'
                phone:
                  type: string
                  description: 需要验证的手机
                  format: phone
                  example: '12345678901'
      responses:
        '201':
          description: 发送验证短信成功
        '400':
          description: 发送验证短信失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      通用错误<br>
                      error_captcha - 图形验证码错误<br>
                      invalid_captcha - 非法图形验证码<br>
                      invalid_operator - 非法操作<br>
                      invalid_phone - 非法手机号码<br>
                      limit_time - 发送时间间隔限制<br>
                      not_exist_captcha - 不存在图形验证记录<br>
                      send_fail - 发送失败<br>
                      timeout_captcha - 超时图形验证记录<br><br>
                      操作符`register`错误<br>
                      exist_user - 用户已存在<br><br>
                      操作符`reset`错误<br>
                      not_exist_user - 用户不存在<br><br>
                      操作符`update`错误<br>
                      same_phone - 手机号码相同<br>
                    example: 'exist_email'
        '401':
          description: 发送验证短信失败，身份验证未通过，用于`update`操作符
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      invalid_token - 未进行身份验证<br>
                      timeout_token - 身份验证已过期<br>
                    example: 'invalid_token'
    put:
      tags: [User]
      summary: 认证手机
      description: |
        手机验证状态时限为5分钟<br>
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
              - operator
              - code
              properties:
                operator:
                  type: string
                  description: 手机验证操作的用途
                  enum:
                  - register
                  - reset
                  - update
                code:
                  type: string
                  description: 手机验证码
                password:
                  type: string
                  description: 重置密码的SHA512散列值，用于`reset`操作符
              example:
                operator: 'register'
                code: '123456'
      responses:
        '200':
          description: 验证成功
        '400':
          description: 验证失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      error_code - 验证码错误<br>
                      error_operator - 操作错误<br>
                      invalid_code - 非法验证码<br>
                      invalid_operator - 非法操作<br>
                      not_exist_code - 不存在邮箱验证记录<br>
                      timeout_code - 验证码已过期<br>
                    example: 'error_code'
        '401':
          description: 验证失败，身份验证未通过，用于`update`操作符
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      invalid_token - 未进行身份验证<br>
                      timeout_token - 身份验证已过期<br>
                    example: 'invalid_token'

  '/user/session':
    post:
      tags: [User]
      summary: 登陆账号
      description: |
        使用用户名、登陆邮箱、登陆手机等唯一标识之一登陆<br>
        普通登陆身份验证有效时限为1天，且以上一次有效请求开始计时<br>
        自动登陆身份验证有效时限为15天<br>
      requestBody:
        required: true
        content:
          'application/json':
            schema:
              type: object
              required:
              - user
              - password
              properties:
                user:
                  type: string
                  description: 用户唯一标识，可以是用户名或邮箱或手机
                  example: 'XMatrix'
                password:
                  type: string
                  description: 用户密码的SHA512散列值
                  example: 'BA3253876AED6BC2...'
                remember:
                  type: boolean
                  description: 是否自动登陆
      responses:
        '201':
          description: 登陆成功
        '400':
          description: 登陆失败
          content:
            'application/json':
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: |
                      error_user_or_password - 用户唯一标识或密码错误<br>
                      invalid_email - 非法邮箱<br>
                      invalid_name - 非法用户名<br>
                      invalid_password - 非法密码散列值<br>
                      invalid_user - 非法用户唯一标识<br>
                    example: 'error_user_or_password'
    delete:
      tags: [User]
      summary: 登出账号
      description: 该方法响应固定成功，即使未登陆
      responses:
        '204':
          description: 登出成功

  '/util/captcha':
    get:
      tags: [Util]
      summary: 获取图形验证码
      description: |
        用于图形验证码的获取，返回png格式的验证码图形的Base64字符串，其中验证码为4位数字<br>
        该接口用于邮箱验证、手机验证，有效期为5分钟<br>
      responses:
        '200':
          description: 获取成功
          content:
            'text/plain':
              schema:
                type: string
              example:
                data:image/png;base64,iVBORw0KGgoAAAAN...
